@import url("https://fonts.googleapis.com/css2?family=Open+Sans=Lora&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html.body {
  height: 100%;
  width: 100%;
  font-family: "Open Sans" sans-serif;
}
.navbar {
  padding: 0.8rem;
 color: white;
 background-color: #595BC3;
}

nav img {
  position: absolute;
  top: 3px;
  left: 12%;
}

a:link {
  color: white;
}
.sign-up {
  border-radius: 5px;
}

h1 h2 h3 {
  font-style: "Lora", serif;
  text-shadow: black;
}
.padding {
  padding-bottom: 0rem;
}
.container-fluid1 {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.container-fluid2 {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

.container-fluid5 {
  min-height: 100vh;
  background-image: url(\images\Group\ 14.png);
  background-size: cover;
  /* background-color: black; */
}

.bslanding {
  width: 400px;
  height: 600px;
}

hr {
  border-top: 0.5px solid #fd954e;
  width: 50%;
  text-align: center;

  margin: 0.2rem auto 0.9rem auto;
}
.col-btn {
  max-width: 50%;
}
.icon-btn {
  display: flex;
  height: 54px;
  padding: 5px 10px;
  /* flex-wrap: wrap; */
}
.icon-btnGP {
  background-color: black;
  color: white;
  height: 100%;
}
.icon-btnAS {
  background-color: whitesmoke;
  border: none;
  height: 100%;
}
.icon-text {
  display: inline;
  align-items: flex-start;
  margin: 3px 0;
}

.app-icon {
  max-width: 50px;
  margin: 3px 0;
}
.app-iconAS {
  width: 80px;
}

.cenpos {
  display: block;
  width: 100%;
}
/*
.section1{
  background: url(images/Rectangle10.png) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: all .5s;
}
*/
/* .app-icon {
  float: right;

} */

.textbox {
  background-color: #e6e4ff;
  padding: 5px 5px;
  margin-top: 1rem;
}
.card {
  border: none;
  margin-bottom: 1rem;
}
/* 
.star-five {
  margin: 50px 0;
  position: relative;
  display: block;
  color: red;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid red;
  border-left: 100px solid transparent;
  transform: rotate(35deg);
}
.star-five:before {
  border-bottom: 80px solid red;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -45px;
  left: -65px;
  display: block;
  content: "";
  transform: rotate(-35deg);
}
.star-five:after {
  position: absolute;
  display: block;
  color: red;
  top: 3px;
  left: -105px;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid red;
  border-left: 100px solid transparent;
  transform: rotate(-70deg);
  content: "";
} */

footer {
  background-color: #595BC3;
  color: white;
  padding-top: 2rem;
  
}

/*---- media queries---*/

@media (max-width: 992px) {
  .display-none {
    display: none;
  }
}

/*
@media (max-width: 992px){ 
    footer{
        width: 100%;
    }
}

@media (max-width: 768px){
    footer{
        width: 100%;
    }
}

@media (max-width: 576px){
    footer{
        width: 100%;
    }
}
*/

/*Extra small (xs) devices (portraite phones, less than 576px)
no media query since this is the default in bootstrap
small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px){}

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px){}

Large (lg) devices (desktopss, 992px and up)
@media (min-width: 992px){}

Extra (xl)  large devices (Large Desktops, 1200px and up)
@media (min-width: 1200px){}
*/
